<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<title>{{ common.name }} | {{ lang.text_reset_password }}</title>
	<link rel="icon" type="image/x-icon" href="{{ theme.favicon }}">
	<link rel="stylesheet" href="public/css/style.min.css" />
	<script src="public/js/vendor.min.js"></script>
	<script src="public/js/custom.js"></script>
</head>
<body>
	<div class="lgn-background">
		<div class="lgn-wrapper">
			<div class="lgn-logo text-center">
				<a href="{{ common.url }}"><img src="{{ theme.logo }}" alt="{{ common.name }}"></a>
			</div>
			<div id="login-form" class="lgn-form pb-4">
				<form class="form-vertical" action="{{ action }}" method="post">
					{% if success %}
					<div class="alert alert-danger alert-dismissable">{{ error }}<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>
					{% endif %}
					{% if error %}
					<div class="alert alert-danger alert-dismissable">{{ error }}<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>
					{% endif %}
					<input type="hidden" name="_token" value="{{ token }}">
					<input type="hidden" name="email" value="{{ email }}">
					<input type="hidden" name="hash" value="{{ hash }}">
					<div class="lgn-input form-group">
						<label class="col-form-label col-sm-12">{{ lang.text_password }}</label>
						<div class="col-sm-12">
							<input type="password" name="new" id="lgn-pass" class="form-control" placeholder="{{ lang.text_password }}" autocomplete="off">
						</div>	
					</div>
					<div class="lgn-input form-group">
						<label class="col-form-label col-sm-12">{{ lang.text_confirm_password }}</label>
						<div class="col-sm-12">
							<input type="password" name="confirm" id="lgn-cnfrmpass" class="form-control" placeholder="{{ lang.text_confirm_password }}" autocomplete="off">
						</div>	
					</div>
					<div class="lgn-input form-group">
						<label class="col-form-label col-sm-12">{{ lang.text_what_is~' '~random(1, 9)~' '~lang.text_plus~' '~random(1, 30) }} =</label>
						<div class="col-sm-12">
							<input type="text" id="lgn-bot" class="form-control" placeholder="Answer" autocomplete="off">
						</div>
					</div>
					<div class="lgn-submit">
						<button type="submit" id="reset-submit" class="btn btn-primary btn-pill btn-lg" name="reset">{{ lang.text_reset }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>


