{{ include('common/header.twig') }}
<!-- User list page start -->
<div class="panel panel-default">
    <div class="panel-head">
        <div class="panel-title">
            <i class="las la-address-book panel-head-icon"></i>
            <span class="panel-title-text">{{ page_title }}</span>
        </div>
        <div class="panel-action">
            <div class="dropdown export-dropdown d-inline-block mr-2">
                <a class="btn btn-white btn-sm btn-pill dropdown-toggle" data-toggle="dropdown"><i class="las la-cloud-download-alt text-primary pr-1"></i> <span>{{ lang.text_export }}</span> <i class="las la-angle-down pl-2"></i></a>
                <ul class="dropdown-menu dropdown-menu-right export-button">
                    <li><a href="#" class="excel"><i class="las la-file-excel pr-2"></i>{{ lang.text_excel }}</a></li>
                    <li><a href="#" class="csv"><i class="las la-file-csv pr-2"></i>{{ lang.text_csv }}</a></li>
                    <li><a href="#" class="print"><i class="las la-print pr-2"></i>{{ lang.text_print }}</a></li>
                    <li><a href="#" class="copy"><i class="las la-copy pr-2"></i>{{ lang.text_copy }}</a></li>
                </ul>
            </div>
            {% if page_import %}
                <a class="btn btn-outline btn-secondary btn-gradient btn-pill btn-sm mr-1" data-toggle="modal" data-target="#import-contact"><i class="las la-cloud-upload-alt mr-1"></i> <span>{{ lang.text_import_contact }}</span></a>
            {% endif %}
            {% if page_add %}
                <a href="{{ common.url_route }}contact/add" class="btn btn-primary btn-outline btn-gradient btn-pill btn-sm"><i class="las la-plus mr-1"></i> {{ lang.text_new_contact }}</a>
            {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped datatable-table" width="100%">
                <thead>
                    <tr class="table-heading">
                        <th class="table-srno">#</th>
                        <th>{{ lang.text_company }}</th>
                        <th>{{ lang.text_email_address }}</th>
                        <th>{{ lang.text_phone_number }}</th>
                        <th>{{ lang.text_expire_date }}</th>
                        <th>{{ lang.text_created_date }}</th>
                        {% if page_view or page_edit or page_delete %}
                            <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for value in result %}
                        <tr>
                            <td class="table-srno">{{ loop.index }}</td>
                            <td><a class="text-primary">{{ value.company }}</a></td>
                            <td>{{ value.email }}</td>
                            <td>{{ value.phone }}</td>
                            <td>
                                {% if date(value.expire) > date() %}
                                    <span class="badge badge-light badge-pill">{{ value.expire|date(common.info.date_format) }}</span>
                                {% else %}
                                    <span class="badge badge-danger badge-pill">{{ value.expire|date(common.info.date_format) }}</span>
                                {% endif %}
                            </td>
                            <td>{{ value.date_of_joining|date(common.info.date_format) }}</td>
                            {% if page_view or page_edit or page_delete %}
                                <td class="table-action">
                                    {% if page_view %}
                                        <a href="{{ common.url_route }}contact/view&id={{ value.id }}" class="btn btn-secondary btn-circle btn-outline btn-outline-1x" data-toggle="tooltip" title="{{ lang.text_view }}"><i class="las la-laptop"></i></a>
                                    {% endif %}
                                    {% if page_edit %}
                                        <a href="{{ common.url_route }}contact/edit&id={{ value.id }}" class="btn btn-primary btn-circle btn-outline btn-outline-1x" data-toggle="tooltip" title="{{ lang.text_edit }}"><i class="las la-edit"></i></a>
                                    {% endif %}
                                    {% if page_delete %}
                                        <a class="btn btn-danger btn-circle btn-outline btn-outline-1x table-delete" data-toggle="tooltip" title="{{ lang.text_delete }}"><i class="las la-trash"></i><input type="hidden" value="{{ value.id }}"></a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if page_delete %}
    <!-- Delete Modal -->
    <div id="delete-card" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ lang.text_confirm_delete }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ action_delete }}" class="delete-card-button" method="post">
                    <div class="modal-body">
                        <p class="delete-card-ttl">{{ lang.text_are_you_sure_you_want_to_delete }}</p>
                        <div class="custom-control custom-checkbox custom-checkbox-1 d-inline-block">
                            <input type="checkbox" name="all_data" class="custom-control-input" id="delete-all" value="1">
                            <label class="custom-control-label" for="delete-all">{{ lang.text_contact_delete_all }}</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" class="delete-id" value="" name="id">
                        <input type="hidden" name="_token" value="{{ common.token }}">
                        <button type="submit" class="btn btn-danger btn-gradient btn-pill" name="delete">{{ lang.text_delete }}</button>
                        <a class="btn btn-default btn-gradient btn-pill" data-dismiss="modal">{{ lang.text_close }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% if page_import %}
    <input type="hidden" class="lang-csv-allowed-file" value="{{ lang.text_csv_allowed_file }}">
    <!-- Import Modal -->
    <div id="import-contact" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ lang.text_import_contact }}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-right mb-3">
                        <a href="{{ common.url_route }}contact/sample" class="btn btn-warning btn-pill btn-sm">Download Sample File</a>
                    </div>
                    <form action="{{ common.url_route }}contact/import" class="dropzone dz-clickable" id="contact-import"><div class="dz-default dz-message"><span>{{ lang.text_drop_message }}<br>{{ lang.text_csv_allowed_file }}</span></div></form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="public/js/contact.js"></script>
{% endif %}
{{ include('common/footer.twig') }}