{{ include('common/header.twig') }}
<!-- Invoice list page start -->
<div class="content">
    <div class="panel panel-default">
        <div class="panel-head">
            <div class="panel-title">
                <i class="las la-file-invoice panel-head-icon"></i>
                <span class="panel-title-text">{{ page_title }}</span>
            </div>
            <div class="panel-action"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped datatable-table">
                    <thead>
                        <tr class="table-heading">
                            <th>#</th>
                            <th>{{ lang.text_customer }}</th>
                            <th>{{ lang.text_status }}</th>
                            <th>{{ lang.text_amount }}</th>
                            <th>{{ lang.text_due }}</th>
                            <th>{{ lang.text_due_date }}</th>
                            <th>{{ lang.text_created_date }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in result %}
                            <tr class="text-center">
                                <td><a href="{{ common.url_route }}invoice/view&id={{ value.id }}" class="text-primary">{{ common.info.invoice.prefix~"%05d"|format(value.id) }}</a></td>
                                <td>{{ value.company }}</td>
                                <td>
                                    {% if value.status == 'Paid' %}
                                        <span class="badge badge-success badge-pill badge-sm">{{ lang.text_paid }}</span>
                                    {% elseif value.status == 'Unpaid' %}
                                        <span class="badge badge-danger badge-pill badge-sm">{{ lang.text_unpaid }}</span>
                                    {% elseif value.status == 'Pending' %}
                                        <span class="badge badge-warning badge-pill badge-sm">{{ lang.text_pending }}</span>
                                    {% elseif value.status == 'In Process' %}
                                        <span class="badge badge-primary badge-pill badge-sm">{{ lang.text_in_process }}</span>
                                    {% elseif value.status == 'Cancelled' %}
                                        <span class="badge badge-default badge-pill badge-sm">{{ lang.text_cancelled }}</span>
                                    {% elseif value.status == 'Other' %}
                                        <span class="badge badge-light badge-pill badge-sm">{{ lang.text_other }}</span>
                                    {% elseif value.status == 'Partially Paid' %}
                                        <span class="badge badge-info badge-pill badge-sm">{{ lang.text_partially_paid }}</span>
                                    {% else %}
                                        <span class="badge badge-danger badge-pill badge-sm">{{ lang.text_unknown }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ value.abbr~value.amount }}</td>
                                <td>{{ value.abbr~value.due }}</td>
                                <td>{{ value.invoicedate|date(common.info.date_format) }}</td>
                                <td>{{ value.duedate|date(common.info.date_format) }}</td>
                                <td class="table-action">
                                    {% if value.due > '0' %}
                                        <a href="{{ common.url_route }}invoice/paynow&invoice={{ value.id }}" class="btn btn-info btn-outline btn-pill btn-sm">{{ lang.text_pay_now }}</a>
                                    {% endif %}
                                    <a href="{{ common.url_route }}invoice/view&id={{ value.id }}" class="btn btn-primary btn-pill btn-outline btn-sm" data-toggle="tooltip" title="{{ lang.text_view }}"><i class="las la-laptop font-16"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ include('common/footer.twig') }}