{{ include('common/header.twig') }}
<!-- User list page start -->
<div class="panel panel-default">
    <div class="panel-head">
        <div class="panel-title">
            <i class="las la-compass panel-head-icon"></i>
            <span class="panel-title-text">{{ page_title }}</span>
        </div>
        <div class="panel-action">
            <div class="dropdown export-dropdown d-inline-block mr-2">
                <a class="btn btn-white btn-sm btn-pill dropdown-toggle" data-toggle="dropdown"><i class="las la-cloud-download-alt text-primary pr-1"></i> <span>{{ lang.text_export }}</span> <i class="las la-angle-down pl-2"></i></a>
                <ul class="dropdown-menu dropdown-menu-right export-button">
                    <li><a href="#" class="excel"><i class="las la-file-excel pr-2"></i>{{ lang.text_excel }}</a></li>
                    <li><a href="#" class="csv"><i class="las la-file-csv pr-2"></i>{{ lang.text_csv }}</a></li>
                    <li><a href="#" class="print"><i class="las la-print pr-2"></i>{{ lang.text_print }}</a></li>
                    <li><a href="#" class="copy"><i class="las la-copy pr-2"></i>{{ lang.text_copy }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-align-middle table-bordered table-striped datatable-table" width="100%">
                <thead>
                    <tr class="table-heading">
                        <th class="table-srno">#</th>
                        <th>{{ lang.text_message }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in result %} {% set data = value.logs|json_decode %}
                        <tr>
                            <td class="table-srno">{{ loop.index }}</td>
                            <td><a class="font-14">
                                <p>=================={{ value.date_of_joining|date('d-m-Y H:i:s') }}================</p>
                                <p class="mb-1">{{ lang.text_creating_recurring_invoice }}</p>
                                <p class="mb-1">{{ data.count~' '~lang.text_invoice_created }}</p>
                                <p>
                                    {% set inv = data.inv|json_decode %} {% if inv %}
                                        {{ lang.text_recurring_invoice_ID_s_are }}
                                        {% for inv_value in inv %}
                                            <a href="{{ common.url_route }}recurring/view&id={{ inv_value }}" class="text-info mr-2">RINV-{{ "%05d"|format(inv_value) }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Email Message Modal -->
<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ lang.text_message }}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="log-message" style="padding: 10px; border: 5px solid #ddd;"></div>
            </div>
        </div>
    </div>
</div>
{{ include('common/footer.twig') }}