{{ include('common/header.twig') }}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-head">
				<div class="panel-title">
					<i class="las la-key panel-head-icon"></i>
					<span class="panel-title-text">{{ lang.text_change_password }}</span>
				</div>
				<div class="panel-action"></div>
			</div>
			<form action="{{ action }}" method="post">
				<div class="panel-body">
					<div class="form-group">
						<label for="col-form-label">{{ lang.text_current_password }}</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-key"></i></span>
							</div>
							<input type="password" class="form-control" name="profile[old-password]" pattern=".{6,}" placeholder="***********" required>
						</div>
					</div>
					<div class="form-group">
						<label for="col-form-label">{{ lang.text_new_password }}</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-key"></i></span>
							</div>
							<input type="password" class="form-control" name="profile[new-password]" pattern=".{6,}" placeholder="***********" required>
						</div>
					</div>
					<div class="form-group">
						<label for="col-form-label">{{ lang.text_confirm_password }}</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-key"></i></span>
							</div>
							<input type="password" class="form-control" name="profile[confirm-password]" pattern=".{6,}" placeholder="***********" required>
						</div>
					</div>
					<input type="hidden" name="_token" value="{{ common.token }}">
					<input type="hidden" name="profile[id]" value="{{ common.user.id }}">
					<input type="hidden" name="profile[email]" value="{{ common.user.email }}">
				</div>
				<div class="panel-footer text-center">
					<button type="submit" class="btn btn-primary btn-gradient btn-pill" name="submit">{{ lang.text_save }}</button>
				</div>

			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>	
{{ include('common/footer.twig') }}