{{ include('common/header.twig') }}
<form action="{{ action }}" method="post">
	<div class="panel panel-default">
		<div class="panel-head">
			<div class="panel-title">
				<i class="las la-user-tie panel-head-icon"></i>
				<span class="panel-title-text">{{ lang.text_my_account }}</span>
			</div>
			<div class="panel-action"></div>
		</div>
		<div class="panel-body">
			<input type="hidden" name="_token" value="{{ common.token }}">
			<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary">
				<li class="nav-item">
					<a class="nav-link active" href="#profile-info" data-toggle="tab"><i class="las la-info-circle mr-2"></i>{{ lang.text_basic_info }}</a>
				</li>
				<li class="nav-item">  
					<a class="nav-link" href="#profile-address" data-toggle="tab"><i class="las la-map mr-2"></i>{{ lang.text_address }}</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="#rights" data-toggle="tab"><i class="icon-home mr-2"></i>Your Rights</a>
				</li> -->
			</ul>
			<div class="tab-content pt-2 pl-4 pr-4">
				<div class="tab-pane active" id="profile-info">
					<div class="row align-items-center">
						<div class="col-md-2 form-group">
							<label class="col-form-label">{{ lang.text_primary_contact }}</label>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="las la-frown"></i></span>
									</div>
									<select class="custom-select" name="contact[salutation]" required>
										<option value="">{{ lang.text_salutation }}</option>
										<option value="{{ lang.text_mr }}"{% if result.salutation == lang.text_mr %} selected{% endif %}>{{ lang.text_mr }}</option>
										<option value="{{ lang.text_mrs }}"{% if result.salutation == lang.text_mrs %} selected{% endif %}>{{ lang.text_mrs }}</option>
										<option value="{{ lang.text_ms }}"{% if result.salutation == lang.text_ms %} selected{% endif %}>{{ lang.text_ms }}</option>
										<option value="{{ lang.text_dr }}"{% if result.salutation == lang.text_dr %} selected{% endif %}>{{ lang.text_dr }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4 form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="las la-user"></i></span>
								</div>
								<input type="text" class="form-control" name="contact[firstname]" value="{{ result.firstname }}" placeholder="{{ lang.text_first_name }}" required>
							</div>
						</div>
						<div class="col-md-4 form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="las la-user"></i></span>
								</div>
								<input type="text" class="form-control" name="contact[lastname]" value="{{ result.lastname }}" placeholder="{{ lang.text_last_name }}" required>
							</div>
						</div>
					</div>
					<div class="form-group row align-items-start">
						<label class="col-md-2 col-form-label pt-3">{{ lang.text_company }}</label>
						<div class="col-md-10">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="las la-building"></i></span>
								</div>
								<input type="text" class="form-control" name="contact[company]" value="{{ result.company }}" placeholder="{{ lang.text_company }}" required>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_email_address }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-envelope"></i></span>
							</div>
							<input type="email" class="form-control" value="{{ result.email }}" placeholder="{{ lang.text_email_address }}" readonly>
							<input type="hidden" name="contact[email]" value="{{ result.email }}">	
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_phone_number }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-phone"></i></span>
							</div>
							<input type="number" class="form-control" name="contact[phone]" value="{{ result.phone }}" placeholder="{{ lang.text_phone_number }}" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_website }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-globe"></i></span>
							</div>
							<input type="text" class="form-control" name="contact[website]" value="{{ result.website }}" placeholder="{{ lang.text_website }}" >
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">Marketing</label>
						<div class="col-md-10">
							<div class="custom-control custom-checkbox custom-checkbox-1 d-inline-block">
								<input type="checkbox" name="contact[marketing][email]" class="custom-control-input" id="marketing-email" value="email"{% if result.marketing.email == 'email' %} checked{% endif %}>
								<label class="custom-control-label" for="marketing-email">Email</label>
							</div>
							<div class="custom-control custom-checkbox custom-checkbox-1 d-inline-block">
								<input type="checkbox" name="contact[marketing][phone]" class="custom-control-input" id="marketing-phone" value="phone"{% if result.marketing.phone == 'phone' %} checked{% endif %}>
								<label class="custom-control-label" for="marketing-phone">Phone</label>
							</div>
							<div class="custom-control custom-checkbox custom-checkbox-1 d-inline-block">
								<input type="checkbox" name="contact[marketing][sms]" class="custom-control-input" id="marketing-sms" value="sms" {% if result.marketing.sms == 'sms' %} checked{% endif %}>
								<label class="custom-control-label" for="marketing-sms">SMS</label>
							</div>
							<div class="custom-control custom-checkbox custom-checkbox-1 d-inline-block">
								<input type="checkbox" name="contact[marketing][social]" class="custom-control-input" id="marketing-social" value="social"{% if result.marketing.social == 'social' %} checked{% endif %}>
								<label class="custom-control-label" for="marketing-social">Social Media</label>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="profile-address">
					<div class="row form-group">
						<label class="col-md-2 col-form-label">{{ lang.text_address }}</label>
						<div class="col-md-5">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="las la-map-signs"></i></span>
								</div>
								<input type="text" class="form-control" name="contact[address][address1]" value="{{ result.address.address1 }}" placeholder="{{ lang.text_address_line_1 }}">
							</div>
						</div>
						<div class="col-md-5">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="las la-map-signs"></i></span>
								</div>
								<input type="text" class="form-control" name="contact[address][address2]" value="{{ result.address.address2 }}" placeholder="{{ lang.text_address_line_2 }}">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_city }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-map-signs"></i></span>
							</div>
							<input type="text" class="form-control" name="contact[address][city]" value="{{ result.address.city }}" placeholder="{{ lang.text_city }}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_state }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-map-signs"></i></span>
							</div>
							<input type="text" class="form-control" name="contact[address][state]" value="{{ result.address.state }}" placeholder="{{ lang.text_state }}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_country }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-map"></i></span>
							</div>
							<input type="text" class="form-control" name="contact[address][country]" value="{{ result.address.country }}" placeholder="{{ lang.text_country }}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label">{{ lang.text_pincode }}</label>
						<div class="col-md-10 input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-map-pin"></i></span>
							</div>
							<input type="text" class="form-control" name="contact[address][pin]" value="{{ result.address.pin }}" placeholder="{{ lang.text_pincode }}">
						</div>
					</div>
				</div>
				<div class="tab-pane" id="rights">
					<div class="table-responsive">
						<table class="table table-stripped table-bordered">
							<tbody>
								<tr>
									<td>Right to rectification</td>
									<td>You can have their personal data rectified if it is inaccurate or incomplete.</td>
									<td>
										<a href="#" class="btn btn-primary btn-shadow btn-pill">Edit your Data</a>
									</td>
								</tr>
								<tr>
									<td>Right to be forgotten</td>
									<td>You can have their personal data rectified if it is inaccurate or incomplete.</td>
									<td>
										<a href="#" class="btn btn-primary btn-shadow btn-pill">Edit your Data</a>
									</td>
								</tr>
								<tr>
									<td>right to restrict processing</td>
									<td>You can have their personal data rectified if it is inaccurate or incomplete.</td>
									<td>
										<a href="#" class="btn btn-primary btn-shadow btn-pill">Edit your Data</a>
									</td>
								</tr>
								<tr>
									<td>Right to data portability</td>
									<td>You can have their personal data rectified if it is inaccurate or incomplete.</td>
									<td>
										<a href="#" class="btn btn-primary btn-shadow btn-pill">Edit your Data</a>
									</td>
								</tr>
								<tr>
									<td>Right to object</td>
									<td>You can have their personal data rectified if it is inaccurate or incomplete.</td>
									<td>
										<a href="#" class="btn btn-primary btn-shadow btn-pill">Edit your Data</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-12 text-center">
					<button type="submit" name="submit" class="btn btn-primary btn-gradient btn-pill">{{ lang.text_save }}</button>
				</div>
			</div>
		</div>
	</div>
</form>
{{ include('common/footer.twig') }}