{{ include('common/header.twig') }}
<div class="panel panel-default">
	<div class="panel-head">
		<div class="panel-title text-primary">{{ result.title }}</div>
		<div class="panel-action">
			{% if page_edit %}
				<a href="{{ common.url_route }}noticeboard/edit&id={{ result.id }}" class="btn btn-primary btn-gradient btn-icon" title="{{ lang.text_edit }}"><i class="las la-edit"></i></a>
			{% endif %}
			<a href="{{ common.url_route }}noticeboard" class="btn btn-white btn-icon" data-toggle="tooltip" {{ lang.text_back_to_list }}><i class="las la-reply"></i></a>
		</div>  
	</div>
	<div class="panel-body">
		<p class="mb-0">{{ result.description }}</p>
	</div>
	<div class="panel-footer">
		<p class="mb-0 text-light font-12">{{ lang.text_start_date }} : {{ result.start_date|date(common.info.date_format) }} {{ lang.text_end_date }} : {{ result.start_date|date(common.info.date_format) }}</p>
	</div>
</div>
{{ include('common/footer.twig') }}