{{ include('common/header.twig') }}
<link rel="stylesheet" href="public/css/chart.min.css">
{# Main Stats #}
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat color-success">
            <div class="content"><h4>{{ statistics.contacts }}</h4> <span>{{ lang.text_contact }}</span></div>
            <div class="icon"><i class="las la-users"></i></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat color-warning">
            <div class="content"><h4>{{ statistics.projects }}</h4> <span>{{ lang.text_projects }}</span></div>
            <div class="icon"><i class="las la-layer-group"></i></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat color-primary">
            <div class="content"><h4>{{ statistics.invoice }}</h4> <span>{{ lang.text_invoices }}</span></div>
            <div class="icon"><i class="las la-file-invoice"></i></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="dashboard-stat color-danger">
            <div class="content"><h4>{{ statistics.quotes }}</h4> <span>{{ lang.text_quotes }}</span></div>
            <div class="icon"><i class="las la-calculator"></i></div>
        </div>
    </div>
</div>

{# Income & Expense #}
<div class="panel panel-default">
    <div class="panel-head">
        <div class="panel-title">{{ lang.text_income_expense }}</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <canvas id="income-expense-chart" width="1000" height="450"></canvas>
            </div>
            <div class="col-md-4">
                <div class="widget-1 p-0">
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="title">{{ lang.text_income }}</h5>
                                <span class="descr">{{ lang.text_in_last_12_months }}</span>
                            </div>
                            <div class="col text-right">
                                <div class="number text-primary">{{ ie_stats.income_12 }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="title">{{ lang.text_income }}</h5>
                                <span class="descr">{{ lang.text_in_last_30_days }}</span>
                            </div>
                            <div class="col text-right">
                                <div class="number text-primary">{{ ie_stats.income_1 }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="title">{{ lang.text_expense }}</h5>
                                <span class="descr">{{ lang.text_in_last_12_months }}</span>
                            </div>
                            <div class="col text-right">
                                <div class="number text-danger">{{ ie_stats.expenses_12 }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="title">{{ lang.text_expense }}</h5>
                                <span class="descr">{{ lang.text_in_last_30_days }}</span>
                            </div>
                            <div class="col text-right">
                                <div class="number text-danger">{{ ie_stats.expenses_1 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Other Stats #}
<div class="panel panel-default">
    <div class="row widget-separator-1 align-items-center">
        <div class="col-md-4">
            <div class="widget-1">
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="title">{{ lang.text_total_income }}</h5>
                            <span class="descr">{{ lang.text_all_time }}</span>
                        </div>
                        <div class="col text-right">
                            <div class="number text-primary">{{ other_statistics.invoice.amount|number_format(2, '.', '')  }}</div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="title">{{ lang.text_total_tax }}</h5>
                            <span class="descr">{{ lang.text_all_time }}</span>
                        </div>
                        <div class="col text-right">
                            <div class="number text-warning">{{ other_statistics.invoice.tax|number_format(2, '.', '')  }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-1">
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="title">{{ lang.text_total_paid }}</h5>
                            <span class="descr">{{ lang.text_all_time }}</span>
                        </div>
                        <div class="col text-right">
                            <div class="number text-success">{{ other_statistics.invoice.paid|number_format(2, '.', '')  }}</div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="title">{{ lang.text_total_due }}</h5>
                            <span class="descr">{{ lang.text_all_time }}</span>
                        </div>
                        <div class="col text-right">
                            <div class="number text-danger">{{ other_statistics.invoice.due|number_format(2, '.', '')  }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-1">
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="title">{{ lang.text_total_expense }}</h5>
                            <span class="descr">{{ lang.text_all_time }}</span>
                        </div>
                        <div class="col text-right">
                            <div class="number text-info">{{ other_statistics.expense|number_format(2, '.', '')  }}</div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="title">{{ lang.text_total_salary }}</h5>
                            <span class="descr">{{ lang.text_all_time }}</span>
                        </div>
                        <div class="col text-right">
                            <div class="number text-secondary">{{ other_statistics.salary|number_format(2, '.', '')  }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Account Transaction and Invoice Status #}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_account_transaction }}</div>
            </div>
            <div class="panel-body">
                <canvas id="transaction-chart" width="1000" height="450"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_invoice_status_breakdown }}</div>
            </div>
            <div class="panel-body">
                <canvas id="invoice-status-chart" width="1000" height="1000"></canvas>
            </div>
        </div>
    </div>
</div>

{# Salary & Expense by Category #}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_salary }}</div>
            </div>
            <div class="panel-body">
                <canvas id="salary-chart" width="1000" height="450"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_expense_categories_breakdown }}</div>
            </div>
            <div class="panel-body">
                <canvas id="expense-category-chart" width="1000" height="1000"></canvas>
            </div>
        </div>
    </div>
</div>

{# Invoices #}
<div class="panel panel-default">
    <div class="panel-head">
        <div class="panel-title">{{ lang.text_latest_invoices }}</div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ lang.text_customer }}</th>
                        <th>{{ lang.text_amount }}</th>
                        <th>{{ lang.text_status }}</th>
                        <th>{{ lang.text_date }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in invoices %}
                        <tr>
                            <td class="text-dark">{{ common.info.invoice.prefix~"%05d"|format(value.id) }}</td>
                            <td><a>{{ value.company }}</a></td>
                            <td>{{ value.abbr~value.amount }}</td>
                            <td>
                                {% if value.inv_status == '0' %}
                                    <span class="badge badge-light badge-pill">{{ lang.text_draft }}</span>
                                {% else %}
                                    {% if value.status == 'Paid' %}
                                        <span class="badge badge-Paid badge-pill">{{ lang.text_paid }}</span>
                                    {% elseif value.status == 'Unpaid' %}
                                        <span class="badge badge-Unpaid badge-pill">{{ lang.text_unpaid }}</span>
                                    {% elseif value.status == 'Pending' %}
                                        <span class="badge badge-Pending badge-pill">{{ lang.text_pending }}</span>
                                    {% elseif value.status == 'In Process' %}
                                        <span class="badge badge-In-Process badge-pill">{{ lang.text_in_process }}</span>
                                    {% elseif value.status == 'Cancelled' %}
                                        <span class="badge badge-Cancelled badge-pill">{{ lang.text_cancelled }}</span>
                                    {% elseif value.status == 'Other' %}
                                        <span class="badge badge-Other badge-pill">{{ lang.text_other }}</span>
                                    {% elseif value.status == 'Partially Paid' %}
                                        <span class="badge badge-Partially-Paid badge-pill">{{ lang.text_partially_paid }}</span>
                                    {% else %}
                                        <span class="badge badge-Unknown badge-pill">{{ lang.text_unknown }}</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td><i class="las la-clock mr-2"></i>{{ value.invoicedate|date(common.info.date_format) }}</td>
                            <td class="text-center">
                                <a href="{{ common.url_route }}invoice/view&id={{ value.id }}" class="mr-2"><i class="las la-eye font-20 text-primary" data-toggle="tooltip" title="{{ lang.text_view }}"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{# Contact & Leads #}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_contacts }}</div>
            </div>
            <div class="panel-body">
                <canvas id="contact-chart" width="1000" height="650"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_leads }}</div>
            </div>
            <div class="panel-body">
                <canvas id="lead-chart" width="1000" height="650"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">{{ lang.text_latest_contacts }}</div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped font-12">
                        <thead>
                            <tr>
                                <th>{{ lang.text_company }}</th>
                                <th>{{ lang.text_first_name }}</th>
                                <th>{{ lang.text_last_name }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in contacts %}
                                <tr>
                                    <td>{{ value.company }}</td>
                                    <td class="text-dark">{{ value.firstname }}</td>
                                    <td class="text-dark">{{ value.lastname }}</td>
                                    <td class="text-center">
                                        <a href="{{ common.url_route }}contact/edit&id={{ value.id }}" class="mr-2"><i class="las la-eye font-20 text-primary" data-toggle="tooltip" title="" data-original-title="View"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">
                    <div class="panel-title-text">{{ lang.text_tickets }}</div>
                </div>
            </div>
            <div class="panel-body"> 
                <div class="ticket-list">
                    {% for value in tickets %}
                        <a href="{{ common.url_route }}ticket/edit&id={{ value.id }}" class="list">
                            <div class="tbl-cell icon"><i class="{% if value.status != '1' %}{% if value.date_of_joining == value.last_updated %}bg-primary{% elseif value.reply_status == '1' %}bg-success{% else %}bg-warning{% endif %}{% else %}bg-secondary{% endif %}">{{ value.name|split('')[0] }}</i></div>
                            <div class="tbl-cell content">
                                <h4>
                                    {{ value.name }}
                                    {% if value.status != '1' %}
                                        {% if value.date_of_joining == value.last_updated %}
                                            <span class="status text-primary">{{ lang.text_new }}</span>
                                        {% elseif value.reply_status == '1' %}
                                            <span class="status text-success">{{ lang.text_replied }}</span>
                                        {% else %}
                                            <span class="status text-warning">{{ lang.text_waiting_for_reply }}</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="status text-secondary">{{ lang.text_closed }}</span>
                                    {% endif %}
                                </h4>
                                <p>{{ value.subject }}</p>
                            </div>
                            <div class="tbl-cell date">{{ value.date_of_joining|date(common.info.date_format) }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{# Notices #}
<div class="panel panel-default">
    <div class="panel-head">
        <div class="panel-title">{{ lang.text_notices }}</div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-middle table-bordered table-striped datatable-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ lang.text_title }}</th>
                        <th>{{ lang.text_description }}</th>
                        <th>{{ lang.text_start_date }}</th>
                        <th>{{ lang.text_end_date }}</th>
                        <th>{{ lang.text_status }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="text-primary">{{ notice.title }}</td>
                            <td>{{ notice.description }}</td>
                            <td>{{ notice.start_date|date(common.info.date_format) }}</td>
                            <td>{{ notice.end_date|date(common.info.date_format) }}</td>
                            <td>
                                {% if notice.status == 1 %}
                                    <span class="label label-success">{{ lang.text_active }}</span>
                                {% elseif notice.status == 0 %}
                                    <span class="label label-danger">{{ lang.text_inactive }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a class="text-primary edit" href="{{ common.info.url_route }}noticeboard/view&id={{ notice.id }}"><i class="las la-eye font-20"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% autoescape 'html' %}
    <input type="hidden" class="income-chart-data" value="{{ chart_income|json_encode() }}">
    <input type="hidden" class="invoice-status-chart-data" value="{{ chart_invoice_status|json_encode() }}">
    <input type="hidden" class="expense-chart-data" value="{{ chart_expense|json_encode() }}">
    <input type="hidden" class="expense-category-chart-data" value="{{ chart_expense_category|json_encode() }}">
    <input type="hidden" class="salary-chart-data" value="{{ chart_salary|json_encode() }}">
    <input type="hidden" class="transaction-chart-data" value="{{ chart_transaction|json_encode() }}">
    <input type="hidden" class="contact-chart-data" value="{{ chart_contacts|json_encode() }}">
    <input type="hidden" class="lead-chart-data" value="{{ chart_leads|json_encode() }}">
{% endautoescape %}

<script type="text/javascript" src="public/js/Chart.min.js"></script>
<script type="text/javascript" src="public/js/dashboard.js"></script>

{{ include('common/footer.twig') }}