{{ include('auth/auth_header.twig') }}
<div id="login-form" class="lgn-form ">
	<form class="form-vertical" action="{{ action }}" method="post">
		{% if success %}
			<div class="alert alert-success alert-dismissable">
				{{ success }}
				<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
			</div>
		{% endif %}
		{% if error %}
			<div class="alert alert-danger alert-dismissable">
				{{ error }}
				<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
			</div>
		{% endif %}
		<input type="hidden" name="_token" value="{{ token }}">
		<div class="lgn-input form-group">
			<label class="control-label col-sm-12">{{ lang.text_email_address }}</label>
			<div class="col-sm-12">
				<input class="form-control" type="text" name="username" id="lgn-mail" placeholder="{{ lang.text_email_address }}" autocomplete="off">
			</div>
		</div>
		<div class="lgn-input form-group">
			<label class="control-label col-sm-12">{{ lang.text_password }}</label>
			<div class="col-sm-12">
				<input type="password" name="password" id="lgn-pass" class="form-control" placeholder="{{ lang.text_password }}" autocomplete="off">
			</div>	
		</div>
		<div class="lgn-input form-group">
			<label class="control-label col-sm-12">{{ lang.text_what_is~' '~random(1, 10)~' '~lang.text_plus~' '~random(1, 30) }} = </label>
			<div class="col-sm-12">
				<input type="text" id="lgn-bot" class="form-control" placeholder="Answer" autocomplete="off">
			</div>
		</div>
		<div class="lgn-forgot">
			<div class="row">
				<div class="col-sm-6">
					<a href="{{ common.url_route }}register">{{ lang.text_create_account }}</a>
				</div>
				<div class="col-sm-6 text-right">
					<a href="{{ common.url_route }}forgotpassword">{{ lang.text_forgotten_password }}</a>
				</div>
			</div>

		</div>
		<div class="lgn-submit">
			<button type="submit" id="lgn-submit" class="btn btn-primary btn-pill btn-lg" name="login">{{ lang.text_login }}</button>
		</div>
	</form>
</div>

{{ include('auth/auth_footer.twig') }}


